<form action="/surveys" method="post">
  <input type= "hidden" name= "authenticity_token" value= "<%= form_authenticity_token %>">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Dojo Location: 
      <select name="location">
      <option value="Los Angeles">L.A.</option>
      <option value="New York City">NYC</option>
      <option value="San Francisco">San Fran</option>
      </select></p>
  <p>Favorite Language: 
      <select name="language">
      <option value="Ruby">Ruby</option>
      <option value="Python">Python</option>
      <option value="JavaScript">JavaScript</option>
      </select></p>
  <p>Comment optional: <textarea name="comment"  cols="60" rows="10"></textarea> </p>
  <p><input type="submit" value="Submit"></p>

</form>