<% if flash[:success] %>
  <% flash.each do |message_type, message| %>
    <div class="alert success-<%= message_type %>">
      <p><%= message %></p>
    </div>
  <% end %>
<% end %>
<div>
  <% @surveys.each do |survey| %>
  <h3>Submitted info</h3>
    <p>Name: <%= survey.name %> </p>
    <p>City: <%= survey.location %> </p>
    <p>Favorite Language: <%= survey.language %> </p>
    <p>Comment:<%= survey.comment %> </p>
  <% end %>
  <a href="/"><button></button>Go Back</a>
</div>